# Django Environment Variables
DJANGO_BACKEND_PORT="8000"
SECRET_KEY="supersafesecretkey"
ENVIRONMENT="DEVELOPMENT"

# PostgrSQL Environment Variables
POSTGRES_VERSION="alpine3.18"
POSTGRES_PASSWORD="corpus"
POSTGRES_USER="corpus"
PGUSER="corpus"
POSTGRES_DB="corpus"
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
ADMINER_PORT="8080"

# Email Settings
EMAIL_HOST="smtp.gmail.com"
EMAIL_HOST_USER="corpusieeenitk@gmail.com"
EMAIL_HOST_PASSWORD="smtpgmailpassword"

#Sentry Settings
SENTRY_DSN="https://de567fa79c95901863761c5ead0dd2cc@o4506801701715968.ingest.sentry.io/4506801703354368"
