# Django Environment Variables
DJANGO_BACKEND_PORT="8000"
SECRET_KEY="supersafesecretkey"
ENVIRONMENT="DEVELOPMENT"

# MariaDB Environment Variables
MARIADB_VERSION="11.0.2"
MARIADB_NAME="corpus"
MARIADB_USER="corpus"
MARIADB_PASSWORD="corpus"
MARIADB_ROOT_PASSWORD="corpus"
MARIADB_HOST="mariadb"
MARIADB_PORT="3306"