  .hero {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("/static/img/codeRed/Theme.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
  }

  #nonHero {
    background-image: url("/static/img/codeRed/SecondTheme.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
  }

  #nonHero2 {
    background-image: url("/static/img/codeRed/ThirdTheme.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
  }

  /*.domain{
    border: white 1px solid
  }*/

  /* Small screens (default full width) */
  @media (min-width: 640px) {
    #schedule {
      max-width: 70%;
    }
  }

  /* Medium screens */
  @media (min-width: 768px) {
    #schedule {
      max-width: 80%;
    }
  }

  /* Large screens */
  @media (min-width: 1024px) {
    #schedule {
      max-width: 50%;
    }
  }

  /* Extra-large screens */
  @media (min-width: 1280px) {
    #schedule {
      max-width: 50%;
    }
  }

  /*.red_btn{
    background-color: #DC1011;
  }

  .blue_btn{
    background-color: #0B2B64;
  }*/

  .tick {
    background-color: currentColor;
    -webkit-mask: url("/static/img/symbols/tick.svg") no-repeat center;
    mask: url("/static/img/symbols/tick.svg") no-repeat center;
  }

  .arrowdown {
    background-color: currentColor;
    -webkit-mask: url("/static/img/symbols/arrow_down.svg") no-repeat center;
    mask: url("/static/img/symbols/arrow_down.svg") no-repeat center;
  }

  .contentBox1 {
    background-color: #071a3c8a;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }

  .contentBox2 {
    background-color: #8308084c;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }

  .typewriter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    /*border-right: .15em solid white; The typwriter cursor*/
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    /*letter-spacing: .15em; Adjust as needed*/
    animation:
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0
    }

    to {
      width: 100%
    }
  }

  /*The typewriter cursor effect */
  @keyframes blink-caret {

    from,
    to {
      border-color: transparent
    }

    50% {
      border-color: white;
    }
  }

  .themeFont {
    font-family: "Press Start 2P", system-ui;
  }