
@keyframes marquee2 {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

.hero-content {
    z-index: auto !important;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
body { font-family: 'Inter', sans-serif; }
        
@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.marquee-content {
  animation: marquee 20s linear infinite;
}

#carousel::-webkit-scrollbar {
  display: none;
}


#carousel {
    
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

#carousel-track > * {
  transition: transform 0.4s ease, scale 0.4s ease;
}
