@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@keyframes marquee2 {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

@keyframes smallmarquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-300%); }
}

@keyframes smallmarquee2 {
    0% { transform: translateX(300%); }
    100% { transform: translateX(0%); }
}
